<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="b04df385-a1b1-4d4f-b2da-804458ea7daa" wsaVersion="NONE" name="Service_typesSoap12" type="wsdl" bindingName="{http://localhost/test_service/Service2.asmx}Service_typesSoap12" soapVersion="1_2" anonymous="optional" definition="http://rapis02/SOAP/Service2.asmx?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b04df385-a1b1-4d4f-b2da-804458ea7daafileName">Service_typesSoap12</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://rapis02/SOAP/Service2.asmx?wsdl">
    <con:part>
      <con:url>http://rapis02/SOAP/Service2.asmx?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions targetNamespace="http://localhost/test_service/Service2.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/test_service/Service2.asmx" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>Тестовый сервис типов</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/test_service/Service2.asmx">
      <s:import namespace="http://microsoft.com/wsdl/types/"/>
      <s:element name="test_string">
        <s:complexType/>
      </s:element>
      <s:element name="test_stringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="test_stringResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_byte">
        <s:complexType/>
      </s:element>
      <s:element name="test_byteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_byteResult" type="s:unsignedByte"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_Sbyte">
        <s:complexType/>
      </s:element>
      <s:element name="test_SbyteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_SbyteResult" type="s:byte"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_short">
        <s:complexType/>
      </s:element>
      <s:element name="test_shortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_shortResult" type="s:short"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_int">
        <s:complexType/>
      </s:element>
      <s:element name="test_intResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_intResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_long">
        <s:complexType/>
      </s:element>
      <s:element name="test_longResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_longResult" type="s:long"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_ushort">
        <s:complexType/>
      </s:element>
      <s:element name="test_ushortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_ushortResult" type="s:unsignedShort"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_uint">
        <s:complexType/>
      </s:element>
      <s:element name="test_uintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_uintResult" type="s:unsignedInt"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_ulong">
        <s:complexType/>
      </s:element>
      <s:element name="test_ulongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_ulongResult" type="s:unsignedLong"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_float">
        <s:complexType/>
      </s:element>
      <s:element name="test_floatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_floatResult" type="s:float"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_double">
        <s:complexType/>
      </s:element>
      <s:element name="test_doubleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_doubleResult" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_bool">
        <s:complexType/>
      </s:element>
      <s:element name="test_boolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_boolResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_char">
        <s:complexType/>
      </s:element>
      <s:element name="test_charResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_charResult" type="s1:char"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_decimal">
        <s:complexType/>
      </s:element>
      <s:element name="test_decimalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_decimalResult" type="s:decimal"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
      <s:element name="unsignedByte" type="s:unsignedByte"/>
      <s:element name="byte" type="s:byte"/>
      <s:element name="short" type="s:short"/>
      <s:element name="int" type="s:int"/>
      <s:element name="long" type="s:long"/>
      <s:element name="unsignedShort" type="s:unsignedShort"/>
      <s:element name="unsignedInt" type="s:unsignedInt"/>
      <s:element name="unsignedLong" type="s:unsignedLong"/>
      <s:element name="float" type="s:float"/>
      <s:element name="double" type="s:double"/>
      <s:element name="boolean" type="s:boolean"/>
      <s:element name="char" type="s1:char"/>
      <s:element name="decimal" type="s:decimal"/>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort"/>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="test_stringSoapIn">
    <wsdl:part name="parameters" element="tns:test_string"/>
  </wsdl:message>
  <wsdl:message name="test_stringSoapOut">
    <wsdl:part name="parameters" element="tns:test_stringResponse"/>
  </wsdl:message>
  <wsdl:message name="test_byteSoapIn">
    <wsdl:part name="parameters" element="tns:test_byte"/>
  </wsdl:message>
  <wsdl:message name="test_byteSoapOut">
    <wsdl:part name="parameters" element="tns:test_byteResponse"/>
  </wsdl:message>
  <wsdl:message name="test_SbyteSoapIn">
    <wsdl:part name="parameters" element="tns:test_Sbyte"/>
  </wsdl:message>
  <wsdl:message name="test_SbyteSoapOut">
    <wsdl:part name="parameters" element="tns:test_SbyteResponse"/>
  </wsdl:message>
  <wsdl:message name="test_shortSoapIn">
    <wsdl:part name="parameters" element="tns:test_short"/>
  </wsdl:message>
  <wsdl:message name="test_shortSoapOut">
    <wsdl:part name="parameters" element="tns:test_shortResponse"/>
  </wsdl:message>
  <wsdl:message name="test_intSoapIn">
    <wsdl:part name="parameters" element="tns:test_int"/>
  </wsdl:message>
  <wsdl:message name="test_intSoapOut">
    <wsdl:part name="parameters" element="tns:test_intResponse"/>
  </wsdl:message>
  <wsdl:message name="test_longSoapIn">
    <wsdl:part name="parameters" element="tns:test_long"/>
  </wsdl:message>
  <wsdl:message name="test_longSoapOut">
    <wsdl:part name="parameters" element="tns:test_longResponse"/>
  </wsdl:message>
  <wsdl:message name="test_ushortSoapIn">
    <wsdl:part name="parameters" element="tns:test_ushort"/>
  </wsdl:message>
  <wsdl:message name="test_ushortSoapOut">
    <wsdl:part name="parameters" element="tns:test_ushortResponse"/>
  </wsdl:message>
  <wsdl:message name="test_uintSoapIn">
    <wsdl:part name="parameters" element="tns:test_uint"/>
  </wsdl:message>
  <wsdl:message name="test_uintSoapOut">
    <wsdl:part name="parameters" element="tns:test_uintResponse"/>
  </wsdl:message>
  <wsdl:message name="test_ulongSoapIn">
    <wsdl:part name="parameters" element="tns:test_ulong"/>
  </wsdl:message>
  <wsdl:message name="test_ulongSoapOut">
    <wsdl:part name="parameters" element="tns:test_ulongResponse"/>
  </wsdl:message>
  <wsdl:message name="test_floatSoapIn">
    <wsdl:part name="parameters" element="tns:test_float"/>
  </wsdl:message>
  <wsdl:message name="test_floatSoapOut">
    <wsdl:part name="parameters" element="tns:test_floatResponse"/>
  </wsdl:message>
  <wsdl:message name="test_doubleSoapIn">
    <wsdl:part name="parameters" element="tns:test_double"/>
  </wsdl:message>
  <wsdl:message name="test_doubleSoapOut">
    <wsdl:part name="parameters" element="tns:test_doubleResponse"/>
  </wsdl:message>
  <wsdl:message name="test_boolSoapIn">
    <wsdl:part name="parameters" element="tns:test_bool"/>
  </wsdl:message>
  <wsdl:message name="test_boolSoapOut">
    <wsdl:part name="parameters" element="tns:test_boolResponse"/>
  </wsdl:message>
  <wsdl:message name="test_charSoapIn">
    <wsdl:part name="parameters" element="tns:test_char"/>
  </wsdl:message>
  <wsdl:message name="test_charSoapOut">
    <wsdl:part name="parameters" element="tns:test_charResponse"/>
  </wsdl:message>
  <wsdl:message name="test_decimalSoapIn">
    <wsdl:part name="parameters" element="tns:test_decimal"/>
  </wsdl:message>
  <wsdl:message name="test_decimalSoapOut">
    <wsdl:part name="parameters" element="tns:test_decimalResponse"/>
  </wsdl:message>
  <wsdl:message name="test_stringHttpGetIn"/>
  <wsdl:message name="test_stringHttpGetOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="test_byteHttpGetIn"/>
  <wsdl:message name="test_byteHttpGetOut">
    <wsdl:part name="Body" element="tns:unsignedByte"/>
  </wsdl:message>
  <wsdl:message name="test_SbyteHttpGetIn"/>
  <wsdl:message name="test_SbyteHttpGetOut">
    <wsdl:part name="Body" element="tns:byte"/>
  </wsdl:message>
  <wsdl:message name="test_shortHttpGetIn"/>
  <wsdl:message name="test_shortHttpGetOut">
    <wsdl:part name="Body" element="tns:short"/>
  </wsdl:message>
  <wsdl:message name="test_intHttpGetIn"/>
  <wsdl:message name="test_intHttpGetOut">
    <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="test_longHttpGetIn"/>
  <wsdl:message name="test_longHttpGetOut">
    <wsdl:part name="Body" element="tns:long"/>
  </wsdl:message>
  <wsdl:message name="test_ushortHttpGetIn"/>
  <wsdl:message name="test_ushortHttpGetOut">
    <wsdl:part name="Body" element="tns:unsignedShort"/>
  </wsdl:message>
  <wsdl:message name="test_uintHttpGetIn"/>
  <wsdl:message name="test_uintHttpGetOut">
    <wsdl:part name="Body" element="tns:unsignedInt"/>
  </wsdl:message>
  <wsdl:message name="test_ulongHttpGetIn"/>
  <wsdl:message name="test_ulongHttpGetOut">
    <wsdl:part name="Body" element="tns:unsignedLong"/>
  </wsdl:message>
  <wsdl:message name="test_floatHttpGetIn"/>
  <wsdl:message name="test_floatHttpGetOut">
    <wsdl:part name="Body" element="tns:float"/>
  </wsdl:message>
  <wsdl:message name="test_doubleHttpGetIn"/>
  <wsdl:message name="test_doubleHttpGetOut">
    <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="test_boolHttpGetIn"/>
  <wsdl:message name="test_boolHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="test_charHttpGetIn"/>
  <wsdl:message name="test_charHttpGetOut">
    <wsdl:part name="Body" element="tns:char"/>
  </wsdl:message>
  <wsdl:message name="test_decimalHttpGetIn"/>
  <wsdl:message name="test_decimalHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:message name="test_stringHttpPostIn"/>
  <wsdl:message name="test_stringHttpPostOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="test_byteHttpPostIn"/>
  <wsdl:message name="test_byteHttpPostOut">
    <wsdl:part name="Body" element="tns:unsignedByte"/>
  </wsdl:message>
  <wsdl:message name="test_SbyteHttpPostIn"/>
  <wsdl:message name="test_SbyteHttpPostOut">
    <wsdl:part name="Body" element="tns:byte"/>
  </wsdl:message>
  <wsdl:message name="test_shortHttpPostIn"/>
  <wsdl:message name="test_shortHttpPostOut">
    <wsdl:part name="Body" element="tns:short"/>
  </wsdl:message>
  <wsdl:message name="test_intHttpPostIn"/>
  <wsdl:message name="test_intHttpPostOut">
    <wsdl:part name="Body" element="tns:int"/>
  </wsdl:message>
  <wsdl:message name="test_longHttpPostIn"/>
  <wsdl:message name="test_longHttpPostOut">
    <wsdl:part name="Body" element="tns:long"/>
  </wsdl:message>
  <wsdl:message name="test_ushortHttpPostIn"/>
  <wsdl:message name="test_ushortHttpPostOut">
    <wsdl:part name="Body" element="tns:unsignedShort"/>
  </wsdl:message>
  <wsdl:message name="test_uintHttpPostIn"/>
  <wsdl:message name="test_uintHttpPostOut">
    <wsdl:part name="Body" element="tns:unsignedInt"/>
  </wsdl:message>
  <wsdl:message name="test_ulongHttpPostIn"/>
  <wsdl:message name="test_ulongHttpPostOut">
    <wsdl:part name="Body" element="tns:unsignedLong"/>
  </wsdl:message>
  <wsdl:message name="test_floatHttpPostIn"/>
  <wsdl:message name="test_floatHttpPostOut">
    <wsdl:part name="Body" element="tns:float"/>
  </wsdl:message>
  <wsdl:message name="test_doubleHttpPostIn"/>
  <wsdl:message name="test_doubleHttpPostOut">
    <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="test_boolHttpPostIn"/>
  <wsdl:message name="test_boolHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean"/>
  </wsdl:message>
  <wsdl:message name="test_charHttpPostIn"/>
  <wsdl:message name="test_charHttpPostOut">
    <wsdl:part name="Body" element="tns:char"/>
  </wsdl:message>
  <wsdl:message name="test_decimalHttpPostIn"/>
  <wsdl:message name="test_decimalHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal"/>
  </wsdl:message>
  <wsdl:portType name="Service_typesSoap">
    <wsdl:operation name="test_string">
      <wsdl:input message="tns:test_stringSoapIn"/>
      <wsdl:output message="tns:test_stringSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <wsdl:input message="tns:test_byteSoapIn"/>
      <wsdl:output message="tns:test_byteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <wsdl:input message="tns:test_SbyteSoapIn"/>
      <wsdl:output message="tns:test_SbyteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <wsdl:input message="tns:test_shortSoapIn"/>
      <wsdl:output message="tns:test_shortSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <wsdl:input message="tns:test_intSoapIn"/>
      <wsdl:output message="tns:test_intSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <wsdl:input message="tns:test_longSoapIn"/>
      <wsdl:output message="tns:test_longSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <wsdl:input message="tns:test_ushortSoapIn"/>
      <wsdl:output message="tns:test_ushortSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <wsdl:input message="tns:test_uintSoapIn"/>
      <wsdl:output message="tns:test_uintSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <wsdl:input message="tns:test_ulongSoapIn"/>
      <wsdl:output message="tns:test_ulongSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <wsdl:input message="tns:test_floatSoapIn"/>
      <wsdl:output message="tns:test_floatSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <wsdl:input message="tns:test_doubleSoapIn"/>
      <wsdl:output message="tns:test_doubleSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <wsdl:input message="tns:test_boolSoapIn"/>
      <wsdl:output message="tns:test_boolSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <wsdl:input message="tns:test_charSoapIn"/>
      <wsdl:output message="tns:test_charSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <wsdl:input message="tns:test_decimalSoapIn"/>
      <wsdl:output message="tns:test_decimalSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service_typesHttpGet">
    <wsdl:operation name="test_string">
      <wsdl:input message="tns:test_stringHttpGetIn"/>
      <wsdl:output message="tns:test_stringHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <wsdl:input message="tns:test_byteHttpGetIn"/>
      <wsdl:output message="tns:test_byteHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <wsdl:input message="tns:test_SbyteHttpGetIn"/>
      <wsdl:output message="tns:test_SbyteHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <wsdl:input message="tns:test_shortHttpGetIn"/>
      <wsdl:output message="tns:test_shortHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <wsdl:input message="tns:test_intHttpGetIn"/>
      <wsdl:output message="tns:test_intHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <wsdl:input message="tns:test_longHttpGetIn"/>
      <wsdl:output message="tns:test_longHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <wsdl:input message="tns:test_ushortHttpGetIn"/>
      <wsdl:output message="tns:test_ushortHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <wsdl:input message="tns:test_uintHttpGetIn"/>
      <wsdl:output message="tns:test_uintHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <wsdl:input message="tns:test_ulongHttpGetIn"/>
      <wsdl:output message="tns:test_ulongHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <wsdl:input message="tns:test_floatHttpGetIn"/>
      <wsdl:output message="tns:test_floatHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <wsdl:input message="tns:test_doubleHttpGetIn"/>
      <wsdl:output message="tns:test_doubleHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <wsdl:input message="tns:test_boolHttpGetIn"/>
      <wsdl:output message="tns:test_boolHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <wsdl:input message="tns:test_charHttpGetIn"/>
      <wsdl:output message="tns:test_charHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <wsdl:input message="tns:test_decimalHttpGetIn"/>
      <wsdl:output message="tns:test_decimalHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service_typesHttpPost">
    <wsdl:operation name="test_string">
      <wsdl:input message="tns:test_stringHttpPostIn"/>
      <wsdl:output message="tns:test_stringHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <wsdl:input message="tns:test_byteHttpPostIn"/>
      <wsdl:output message="tns:test_byteHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <wsdl:input message="tns:test_SbyteHttpPostIn"/>
      <wsdl:output message="tns:test_SbyteHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <wsdl:input message="tns:test_shortHttpPostIn"/>
      <wsdl:output message="tns:test_shortHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <wsdl:input message="tns:test_intHttpPostIn"/>
      <wsdl:output message="tns:test_intHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <wsdl:input message="tns:test_longHttpPostIn"/>
      <wsdl:output message="tns:test_longHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <wsdl:input message="tns:test_ushortHttpPostIn"/>
      <wsdl:output message="tns:test_ushortHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <wsdl:input message="tns:test_uintHttpPostIn"/>
      <wsdl:output message="tns:test_uintHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <wsdl:input message="tns:test_ulongHttpPostIn"/>
      <wsdl:output message="tns:test_ulongHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <wsdl:input message="tns:test_floatHttpPostIn"/>
      <wsdl:output message="tns:test_floatHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <wsdl:input message="tns:test_doubleHttpPostIn"/>
      <wsdl:output message="tns:test_doubleHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <wsdl:input message="tns:test_boolHttpPostIn"/>
      <wsdl:output message="tns:test_boolHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <wsdl:input message="tns:test_charHttpPostIn"/>
      <wsdl:output message="tns:test_charHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <wsdl:input message="tns:test_decimalHttpPostIn"/>
      <wsdl:output message="tns:test_decimalHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_typesSoap" type="tns:Service_typesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="test_string">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_string" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_byte" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_Sbyte" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_short" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_int" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_long" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_ushort" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_uint" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_ulong" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_float" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_double" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_bool" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_char" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <soap:operation soapAction="http://localhost/test_service/Service2.asmx/test_decimal" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_typesSoap12" type="tns:Service_typesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="test_string">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_string" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_byte" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_Sbyte" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_short" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_int" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_long" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_ushort" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_uint" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_ulong" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_float" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_double" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_bool" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_char" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <soap12:operation soapAction="http://localhost/test_service/Service2.asmx/test_decimal" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_typesHttpGet" type="tns:Service_typesHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="test_string">
      <http:operation location="/test_string"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <http:operation location="/test_byte"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <http:operation location="/test_Sbyte"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <http:operation location="/test_short"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <http:operation location="/test_int"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <http:operation location="/test_long"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <http:operation location="/test_ushort"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <http:operation location="/test_uint"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <http:operation location="/test_ulong"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <http:operation location="/test_float"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <http:operation location="/test_double"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <http:operation location="/test_bool"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <http:operation location="/test_char"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <http:operation location="/test_decimal"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_typesHttpPost" type="tns:Service_typesHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="test_string">
      <http:operation location="/test_string"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_byte">
      <http:operation location="/test_byte"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_Sbyte">
      <http:operation location="/test_Sbyte"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_short">
      <http:operation location="/test_short"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_int">
      <http:operation location="/test_int"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_long">
      <http:operation location="/test_long"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ushort">
      <http:operation location="/test_ushort"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_uint">
      <http:operation location="/test_uint"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_ulong">
      <http:operation location="/test_ulong"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_float">
      <http:operation location="/test_float"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_double">
      <http:operation location="/test_double"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_bool">
      <http:operation location="/test_bool"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_char">
      <http:operation location="/test_char"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test_decimal">
      <http:operation location="/test_decimal"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_types">
    <wsdl:documentation>Тестовый сервис типов</wsdl:documentation>
    <wsdl:port name="Service_typesSoap" binding="tns:Service_typesSoap">
      <soap:address location="http://rapis02/SOAP/Service2.asmx"/>
    </wsdl:port>
    <wsdl:port name="Service_typesSoap12" binding="tns:Service_typesSoap12">
      <soap12:address location="http://rapis02/SOAP/Service2.asmx"/>
    </wsdl:port>
    <wsdl:port name="Service_typesHttpGet" binding="tns:Service_typesHttpGet">
      <http:address location="http://rapis02/SOAP/Service2.asmx"/>
    </wsdl:port>
    <wsdl:port name="Service_typesHttpPost" binding="tns:Service_typesHttpPost">
      <http:address location="http://rapis02/SOAP/Service2.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://rapis02/SOAP/Service2.asmx</con:endpoint>
  </con:endpoints>
</con:interface>
