<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a96629ad-b517-4664-998a-ccb1210da9f0" name="TestSuite_1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a96629ad-b517-4664-998a-ccb1210da9f0fileName">TestSuite_1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
