<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:XmlRpcService" id="b7588814-c2df-4f65-8f4b-c2f0377ce65b" name="Xmlrpcapi.rem" type="xmlrpc" definitionUrl="http://rapis02.aqa.com.ru/xmlrpc/xmlrpcapi.rem" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b7588814-c2df-4f65-8f4b-c2f0377ce65bfileName">Xmlrpcapi.rem</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://rapis02.aqa.com.ru/xmlrpc/xmlrpcapi.rem</con:endpoint>
  </con:endpoints>
</con:interface>
